.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}


.content{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
  
 }
 .text #txt{
    color: white;
    /* display: flex;
    justify-content: center; */
    font-size: 40px;
    padding-top: 40px;
}    
.text #welcome{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.movies-container{
margin-left: 30px;
width: 95vw;
border-top: 2px solid whitesmoke;
box-sizing: border-box;
/* display: flex;  */
padding-top: 50px;
justify-content: space-around;

} 
#movie{
    border: 3px solid white;
}
#movie:hover{
    border-color: lightgreen;
}
.movies-container .movie-card{
    cursor: pointer;
}

    
.movie-card #movie-title{
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: large;
}
#movie-title:hover{
    color:lightgreen ;
}
    

    