*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(18, 18, 18);
    color: rgb(163, 163, 163);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .left{
    display: flex;
    left: 2vw;
    
}
.container .left .logo {
    position:relative;
    height:60px ;
    display: flex;
}
.container .left #heading{
display: flex;
align-items: center;
margin: 0 2vw;
}
.container .right{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.container .right .searchbar{
    width: 300px;
    border: 1px solid ;
    background: #212121;
    padding: 8px;
    border-radius: 30px;

}
    
.container .right #search{ 
    width: 200px;
    padding: 2px 20px;
    font-size: 15px;
    font-family: sans-serif;
    background: #212121;
    border: 0px;
    outline: 0px;
    color: rgb(163, 163, 163);
    border-radius: 25px 25px 25px 25px;
} 
.right ul{
    display: flex;
    align-items: center;
}  
.right ul li{
    list-style: none;
    margin:0 14px ;
}
.right ul li a{
    text-decoration: none;
    color: rgb(163, 163, 163);
}
.right ul li a:hover{
    color: white;
}
.login a{
    text-decoration: none;
    color: aliceblue;
    margin: 0 2px;
    border-right: 2px;
    border-color: aliceblue;
}
i{
 cursor: pointer;
}
    
    
/* responsive units
px 
inch

%
vw 
vh
rem
em


media queries
 */


    
    
